.fw-bold {
  padding: 1rem 3rem;
  border-radius: 10px;
  color: #ff735c;
  display: flex;
}

.fw-bold:hover {
  background-color: #ff735c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}
#actived {
  background-color: #ff735c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.accordion-button {
  font-weight: bold;
  color: #ff735c;
}

